@using System.Net.Http.Headers
@using System.Web
@using EM.Dto.Settings
@using EM.UI.Blazor.Services

@inject NavigationManager _navigationManager
@inject SearchService _searchService

<div class="input-group">
    <input type="search" class="form-control" placeholder="Я ищу..." @bind="_searchService.Query">
    <button class="btn btn-outline-light" type="button" onclick="@OnSearchButtonClick">Поиск</button>
</div>

@code {
    
    private void OnSearchButtonClick()
    {
        if(_searchService.Query == null)
            return;
        
        try
        {
            var query = HttpUtility.ParseQueryString(string.Empty);
            query["query"] = _searchService.Query;
            if (!string.IsNullOrEmpty(_searchService.Filter))
                query["filter"] = _searchService.Filter;
            _navigationManager.NavigateTo("search?" + query);
            _searchService.SearchExecute();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
    }
}