@page "/search"

@using EM.UI.Blazor.Services

@inject SearchService _searchService

@implements IDisposable

@attribute [AllowAnonymous]

<p>Query: @_searchService.Query</p>

<p>Response: @_response</p>


@code {
    private string? _response = "Loading...";

    protected override async Task OnInitializedAsync()
    {
        _searchService.OnSearch += OnSearchExecute;
        _response = await _searchService.GetSearchAsync();
    }

    public void Dispose()
    {
        _searchService.OnSearch -= OnSearchExecute;
    }

    private async void OnSearchExecute()
    {
        _response = await _searchService.GetSearchAsync();
        StateHasChanged();
    }

}