@page "/search"

@using System.Web
@using EM.UI.Blazor.Services

@inject SearchService _searchService
@inject HttpClient _client
@implements IDisposable

@attribute [AllowAnonymous]

<p>Filter: <input type="text" @bind="@_searchService.Filter"/></p>

<p>Query: @_searchService.Query</p>

<p>Response: @_response</p>


@code {
    private string? _response = "Loading...";

    protected override void OnInitialized()
    {
        _searchService.OnSearch += SearchServiceOnOnSearch;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if(firstRender)
            SearchServiceOnOnSearch();
    }

    public void Dispose()
    {
        _searchService.OnSearch -= SearchServiceOnOnSearch;
    }

    private async void SearchServiceOnOnSearch()
    {
        var query = HttpUtility.ParseQueryString(string.Empty);
        query["query"] = _searchService.Query;
        if(!string.IsNullOrEmpty(_searchService.Filter))
            query["filter"] = _searchService.Filter;

        var response = await _client.GetAsync(_searchService.SearchPath! + query);
        
        if (!response.IsSuccessStatusCode) 
            return;
        
        _response = await response.Content.ReadAsStringAsync();
        StateHasChanged();
    }
}